<script src="~/Scripts/angular.js"></script>
<script src="~/Content/app.js"></script>

<div ng-app="myApp" ng-controller="UpdateController">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>
                Country
            </th>
        </tr>
        <tr ng-repeat="a in cities">
            <td>{{a.Id}}</td>
            <td>{{a.Name}}</td>
            <td>
                {{a.Country}}
            </td>
        </tr>
    </table>

</div>