<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/app.js"></script>

<div ng-app="myApp" class="view-container">
    <div class="view-frame" ng-view></div>
</div>